@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
    --font-main:"Quicksand", sans-serif;
    --font-logo:"Rubik Doodle Shadow",sans-serif;
    --color-blue-dark:#112D4E;
    --color-blue-light:#3F72AF;
    --color-silver:#DBE2EF;
    --color-grey:#F9F7F7;
}
body {
  font-family: var(--font-main);
  background-color: var(--color-grey);
}
a,
li {
  text-decoration: none;
  list-style: none;
}
/*NAVIGATION STYLING*/
header {
  width: 100%;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: var(--color-blue-dark);
  font-family: var(--font-logo);
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  cursor: pointer;
}
.logo > span {
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
 
  
}

section {
  width: 100%;
  padding: 2rem 4rem;
  margin: 1rem auto;
  height: 100vh;
  background: teal;
}
.top_nav {
  background: var(--color-blue-dark);
  padding: 0.5rem 1rem;
  border-radius: 50px;
  color: var(--color-silver);
}
.nav_links {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
}
.nav_link {
  font-size: large;
  font-weight: 400;
  color: var(--color-grey);
}
.nav_link:hover {
  border-bottom: 2px solid var(--color-silver);
  transition: all 0.5s ease-in 0.3s;
}
.nav_link:active {
  border-bottom: 2px solid var(--color-silver);
}
.nav_link:visited {
  color: grey;
}

/*HERO SECTION*/
#hero{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_wrapper{
    background: red;
    width: 100%;
    height: 70vh;
    margin: 5px auto;
    display: flex;
    justify-content: space-around;
    
    gap:10px


}
.profile_card{
    width: 500px;
    
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    

}
.profile_card img{
    width: 200px;
    border-radius: 100%;
}
.social_icons{
    width: 100%;
    background-color: white;
    
}
.social_icons img{
    width: 30px;
}
.hero_text{
    width: 100%;
    background-color: pink;
}

